{% extends 'base.html' %}

{% block meta %}
<title>Skill - {{ name }}</title>
{% endblock meta %}

{% block content %}
<main>
    <section class="skill-section" id="skill">
        <div class="container">
            <h1>Skill</h1>

            <div class="skill-grid">
                {% for skill in skill_list %}
                    <!-- Bagian yang dapat di klik untuk menampikan deskripsi skill.
                        Atribut name diberikan supaya hanya satu deskripsi skill yang
                        dapat dibuka dalam satu waktu. -->
                    <details class="skill-detail" name="skill">
                        <!-- Nama skill beserta logonya jika ada-->
                        <summary class="skill-summary">
                            {% if skill.image %}
                                <!-- Memberikan link asal dari gambar jika ada -->
                                {% if skill.image_source %}
                                    <a href="{{ skill.image_source }}">
                                {% endif %}
                                <img class="skill-logo" src="{{ skill.image.url }}" alt="{{ skill.title }} Logo"></a>
                            {% endif %}
                            {{ skill.title }}
                        </summary>
                        <!-- Deskripsi skill yang dipisah dari elemen <details> -->
                        <p>{{ skill.description }}</p>
                    </details>
                {% empty %}
                    <p class="empty-state">
                        Belum ada pengalaman yang ditambahkan.
                    </p>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}